In [21]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [205]:
df = pd.read_csv("/content/movie_dataset.csv")
df = df.fillna("")

In [206]:
df.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [207]:
def combine_data(df):
    return f"{df['title']} {df['genres']} {df['director']} {df['keywords']}"

In [208]:
df['Combined'] = df.apply(combine_data,axis=1)

In [209]:
vectorizer = CountVectorizer().fit_transform(df['Combined'])

In [210]:
cosine_similarity(vectorizer)[0]

array([1.        , 0.13608276, 0.12598816, ..., 0.        , 0.        ,
       0.        ])

In [211]:
max = 0
index = 0
preds = []
for i , val in enumerate(cosine_similarity(vectorizer)[80]):
  preds.append((i,val))
  
preds.sort(key = lambda x: x[1], reverse=True)

In [212]:
print(preds[0:10])

[(80, 1.0), (237, 0.5735393346764044), (3402, 0.3779644730092272), (1481, 0.375), (4259, 0.3535533905932738), (81, 0.35), (1804, 0.34412360080584264), (410, 0.33541019662496846), (197, 0.3273268353539886), (37, 0.32274861218395134)]

In [213]:
print(f"Title name {df.loc[80].title}")
for i in range(0,10):
  if i == 0:
    continue
  else:
    print(f"{i}. {df.loc[preds[i][0]].title}")

Title name Snow White and the Huntsman
1. The Huntsman: Winter's War
2. The Snow Queen
3. Thunder and the House of Magic
4. Snow White and the Seven Dwarfs
5. Maleficent
6. Snow White: A Tale of Terror
7. Mirror Mirror
8. Harry Potter and the Philosopher's Stone
9. Oz: The Great and Powerful

In [214]:
def get_results(search_query):
  return df.loc[df['title'].str.lower().str.contains(search_query)]

In [294]:
dfx = get_id("jurassic park")
print(dfx)

     index  ...                                           Combined
334    334  ...  Jurassic Park III Adventure Action Thriller Sc...
508    508  ...  The Lost World: Jurassic Park Adventure Action...
675    675  ...  Jurassic Park Adventure Science Fiction Steven...

[3 rows x 25 columns]

In [299]:
def generate_predictions(model,df,main_df):
  as_list = list(df['index'])
  for j in as_list:
    preds = []
    for index, val in enumerate(model[j]):
      preds.append((index,val))
    
    preds.sort(key= lambda x : x[1], reverse=True)
    print(f"Title name {main_df.loc[j].title}")
    for k in range(0,10):
      if k == 0:
        continue
      else:
        print(f"{k}. {main_df.loc[preds[k][0]].title}")

In [296]:
generate_predictions(dfx,df)

Title name Jurassic Park III
1. The Lost World: Jurassic Park
2. Jurassic Park
3. Jurassic World
4. G.I. Joe: Retaliation
5. Star Trek III: The Search for Spock
6. G.I. Joe: The Rise of Cobra
7. The Island
8. Paycheck
9. Babylon A.D.
Title name The Lost World: Jurassic Park
1. Jurassic Park
2. Jurassic Park III
3. Jurassic World
4. Raiders of the Lost Ark
5. The Lovers
6. Indiana Jones and the Last Crusade
7. Armageddon
8. Indiana Jones and the Kingdom of the Crystal Skull
9. Journey 2: The Mysterious Island
Title name Jurassic Park
1. The Lost World: Jurassic Park
2. Jurassic Park III
3. Jurassic World
4. E.T. the Extra-Terrestrial
5. War of the Worlds
6. A.I. Artificial Intelligence
7. Journey 2: The Mysterious Island
8. Cutthroat Island
9. After Earth

In [215]:
df.loc[94]

index                                                                  94
budget                                                          170000000
genres                                   Action Science Fiction Adventure
homepage                                      http://marvel.com/guardians
id                                                                 118340
keywords                  marvel comic spaceship space outer space orphan
original_language                                                      en
original_title                                    Guardians of the Galaxy
overview                Light years from Earth, 26 years after being a...
popularity                                                        481.099
production_companies    [{"name": "Marvel Studios", "id": 420}, {"name...
production_countries    [{"iso_3166_1": "GB", "name": "United Kingdom"...
release_date                                                   2014-07-30
revenue                                                         773328629
runtime                                                               121
spoken_languages                 [{"iso_639_1": "en", "name": "English"}]
status                                                           Released
tagline                                       All heroes start somewhere.
title                                             Guardians of the Galaxy
vote_average                                                          7.9
vote_count                                                           9742
cast                    Chris Pratt Zoe Saldana Dave Bautista Vin Dies...
crew                    [{'name': 'Craig Wood', 'gender': 2, 'departme...
director                                                       James Gunn
Combined                Guardians of the Galaxy Action Science Fiction...
Name: 94, dtype: object

In [312]:
import pickle
import sys
model = cosine_similarity(vectorizer)
pickle.dump(model,open("model.sav",'wb'))

In [316]:
imported_model = pickle.load(open("model.sav",'rb'))
print(sys.getsizeof(imported_model))
dfi = get_id("hobbit")
generate_predictions(imported_model,dfi,df)

112
Title name The Hobbit: The Battle of the Five Armies
1. The Lord of the Rings: The Fellowship of the Ring
2. The Lord of the Rings: The Two Towers
3. The Lord of the Rings: The Return of the King
4. The Hobbit: The Desolation of Smaug
5. The Hobbit: An Unexpected Journey
6. The Mummy: Tomb of the Dragon Emperor
7. The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
8. Pirates of the Caribbean: The Curse of the Black Pearl
9. The Adventurer: The Curse of the Midas Box
Title name The Hobbit: The Desolation of Smaug
1. The Lord of the Rings: The Fellowship of the Ring
2. The Hobbit: The Battle of the Five Armies
3. The Lord of the Rings: The Two Towers
4. The Hobbit: An Unexpected Journey
5. The Lord of the Rings: The Return of the King
6. The Mummy: Tomb of the Dragon Emperor
7. The Adventurer: The Curse of the Midas Box
8. The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
9. Harry Potter and the Order of the Phoenix
Title name The Hobbit: An Unexpected Journey
1. The Hobbit: The Battle of the Five Armies
2. The Lord of the Rings: The Fellowship of the Ring
3. The Lord of the Rings: The Two Towers
4. The Hobbit: The Desolation of Smaug
5. The Lord of the Rings: The Return of the King
6. Warcraft
7. The Borrowers
8. The Mummy: Tomb of the Dragon Emperor
9. The Scorpion King